<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks Website</title>
</head>
<body style="background-color:lavenderblush; text-align:center; font-family: Tahoma; margin-top: 10px" > 
<H1 style="color: red">Welcome to the Stocks Website</H1>
<img src='https://cdn.mos.cms.futurecdn.net/YdFsXZgsagfMECEWk7qRTQ-1280-80.jpg.webp' alt='words'>
<br> <br>
<a href="/query/">Query Results</a>
<br> <br>
<a href="/transaction/" >Add Transaction</a>
<br> <br>
<a href="/stocks/" >Buy Stocks</a>

</body>
</html>